body {
	margin:40px
	auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
	color:#444;
	padding: 0 10px
}
h1,h2,h3 {
	line-height:1.2
}

ul {
  background: #6f9bc7;
  padding: 20px;
  border-radius: 25px;
}

ul li {
  background: #cce5ff;
  margin: 5px;
  border-radius: 5px;
}

figure {
    margin: 0;
	padding-left: 5px;
}
