{% extends "layout.html" %}
{% block body %}

{% if session.username %}
Omat projektisi:
<ul>
{% for project in own_projects %}
<li>
<div class="flex">
	<a href="/project/{{project.id}}">{{ project.name }}</a>
	<form action="/project/{{project.id}}/delete" method="POST">
	<input type="submit" value="Poista">
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
	</form>
</div>
</li>
{% endfor %}
</ul>
<hr>
Muiden julkaistut projektit:
<ul>
{% for project in public_projects %}
<li><a href="/project/{{project.id}}"> {{ project.name }} </a>
	{% if session.is_admin %}
	<form action="/project/{{project.id}}/delete" method="POST">
	<input type="submit" value="Poista">
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
	</form>
	{% endif %}
</li>
{% endfor %}
</ul>
<hr>
<form action="/query_project" method="GET">
Hae projektia:<input type="text" name="query"><input type="submit" value="Lähetä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<hr>
<a href="/add_project">Luo projekti</a>
<hr>

<p>Olet kirjautunut nimellä "{{ session.username }}"</p>
<hr>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<a href="/register">Luo uusi käyttäjä</a>
{% endif %}
{% endblock %}
