{% extends "layout.html" %}
{% block body %}

{% if session.username %}
Omat projektisi:
<hr>
{% for project in own_projects %}
<a href="/project/{{project.id}}"> {{ project.name }} </a>
<hr>
{% endfor %}
Muiden julkaistut projektit:
<ul>
{% for project in public_projects %}
<li><a href="/project/{{project.id}}"> {{ project.name }} </a></li>
{% endfor %}
</ul>
<hr>
<form action="/query_project" method="GET">
Hae projektia:<input type="text" name="query"><input type="submit" value="Lähetä">
</form>
<hr>
<a href="/add_project">Luo projekti</a>

<p>Olet kirjautunut nimellä "{{ session.username }}"</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<a href="/register">Luo uusi käyttäjä</a>
{% endif %}
{% endblock %}
