
{% if session.username %}
Selattavien projektien määrä: {{ count }}
<hr>
{% for project in projects %}
<a href="/project/{{project.id}}"> {{ project.name }} </a>
<hr>
{% endfor %}
<a href="/add_file">Lähetä viesti</a>
<a href="/add_project">Luo projekti</a>

<p>Olet kirjautunut nimellä "{{ session.username }}"</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<a href="/register">Luo uusi käyttäjä</a>
{% endif %}

