<h3> Projekti {{ name }} </h3>

<br></br>
<hr></hr>
Projektin nykyiset tiedostot:
<br></br>
{% for file in current_files %}
	* tiedosto {{file.id}}, sisältö: {{file.data}}
	<br></br>
{% endfor %}
<br></br>

<form action="/project/{{project_id}}/send_publish" method="POST">
{% if published %}
<input type="checkbox" name="published" value="selected" checked={{published}}>Julkaistu<br>
{% else %}
<input type="checkbox" name="published" value="selected">Julkaistu<br>
{% endif %}
<input type="submit" value="Päivitä">
</form>

<br></br>

<a href="/add_file">Lisää tiedosto</a>

<br></br>
<a href="/">Palaa takaisin</a>
