<h3> Projekti {{ name }} </h3>

{% if is_owner %}

<br></br>
<hr></hr>
Projektin nykyiset tiedostot:
<br></br>
{% for file in current_files %}
	* tiedosto {{file.name}}
	<br></br>
{% endfor %}
<br></br>

<form action="/project/{{project_id}}/send_publish" method="POST">
{% if published %}
<input type="checkbox" name="published" value="selected" checked={{published}}>Julkaistu<br>
{% else %}
<input type="checkbox" name="published" value="selected">Julkaistu<br>
{% endif %}
<input type="submit" value="Päivitä">
</form>

<br></br>

<a href="/add_file/{{project_id}}">Lisää tiedosto</a>

{% else %}

Jätä palautetta:

<form action="/project/{{project_id}}/send_comment" method="POST">
<input type="text" name="comment">
<input type="submit" value="Lähetä">
</form>

{% endif %}

<a href="ei_toimi_vielä"/>Suorita projekti (soita äänitiedostot)</a>

<br></br>

Kommentit:
 <ul>
{% for item in comments %}
	<li> {{item.sender}}: {{item.content}} </li>
	<br></br>
{% endfor %}
 </ul>

<a href="/">Palaa takaisin</a>
