{% extends "layout.html" %}
{% block body %}

<h3> {{ name }} </h3>

<hr>

Projektin nykyiset tiedostot:
<ul>
{% for file in current_files %}
<li> 
	<div class="flex">
		{{file.name}} 
		<figure>
			<audio controls src="/audio/{{file.id}}">
				Your browser does not support the <code>audio</code> element.
			</audio>
		</figure>

		{% if allowed_to_modify %}
		<form action="/project/{{project_id}}/delete_file/{{file.id}}" method="POST">
			<input type="submit" value="Poista">
			<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
		</form>
		{% endif %}
	</div>
</li>
{% endfor %}
</ul>

<a href="/add_file">Lisää tiedosto</a>
<br>

{% if allowed_to_modify %}
<form action="/project/{{project_id}}/send_publish" method="POST">
	{% if published %}
	<input type="checkbox" name="published" value="selected" checked={{published}}>Julkaistu
	{% else %}
	<input type="checkbox" name="published" value="selected">Julkaistu
	{% endif %}
	<input type="submit" value="Muuta">
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
<br>

Kommentit:

<ul>
{% for item in comments %}
	<li> {{item.username}}: {{item.content}} </li>
{% endfor %}
<li>
	<form action="/project/{{project_id}}/send_comment" method="POST">
		<input type="text" name="comment">
		<input type="submit" value="Lähetä">
		<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
	</form>
</li>

</ul>

{% endblock %}
